Repository PredicateSystems/sdk-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=-1 --no-warn-ignored, prettier --write

bump version to v1.1.1
  compat/sdk-shim/package.json
  package.json
Due: prettier --write

export cloud trace sink
  package.json
  src/index.ts
Due: eslint --fix --max-warnings=-1 --no-warn-ignored, prettier --write

fix tests
  tests/actions.test.ts
  tests/test-utils.ts
Due: eslint --fix --max-warnings=-1 --no-warn-ignored, prettier --write

fix tests
  src/utils/trace-file-manager.ts
  tests/utils/trace-file-manager.test.ts
Due: eslint --fix --max-warnings=-1 --no-warn-ignored, prettier --write

bump version to v1.3.0
  package.json
Due: prettier --write

fix release
  .github/workflows/release.yml
Due: none

Add browser-safe agent entrypoint and search fallbacks
  package.json
  src/agents/planner-executor/boundary-detection.ts
  src/agents/planner-executor/common-hints.ts
  src/agents/planner-executor/planner-executor-agent.ts
  src/agents/planner-executor/predicates.ts
  src/browser-agent.ts
  tests/agents/planner-executor/composable-heuristics.test.ts
  tests/agents/planner-executor/predicates.test.ts
  tests/agents/planner-executor/search-submit.test.ts
  tests/browser-agent-entrypoint.test.ts
  tsconfig.esm.json
Due: eslint --fix --max-warnings=-1 --no-warn-ignored, prettier --write

bump version to v1.3.2
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=-1 --no-warn-ignored: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
